.radar-container {
  height: 263px;
  width: 258px;
  background: #282d30;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}
